Django
djangorestframework
channels
channels-redis
django-cors-headers
psycopg2-binary
python-dotenv
dj-database-url
whitenoise
gunicorn
django-filter
Pillow
django-storages
django-redis
celery
redis
django-celery-beat
django-celery-results
PyJWT
daphne